@mixin stars {
  .stars {
    display: flex;

    .stars__star {
      width: 15px;
      height: 15px;
      background: url($not__active__star) no-repeat center;
      
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  @for $i from 1 through 5 {
    .stars--#{$i} .stars__star:nth-child(-n + #{$i}) {
      background-image: url($active__star);
    }
  }
}
